<div><p>
    <p>
        <input type="checkbox" id="agree" name="agree" required>
        <label for="agree">{{ copy['data-protection-statement'][_lang] }}</label>
    </p>
</div>
<p><a href="//iwgb.org.uk/page/about/data-protection" target="_blank">{{ copy['view-data-protection'][_lang] }}</a></p>