<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet">
	</head>
	<body>
		<div class="nav">
			<div class="content-pad">
				<img src="/img/iwgb-red-wordmark.png">
				<h1>llamadas📞🤙</h1>
			</div>
		</div>
		<div class="content-pad">

			<div>
				<select>
					<option>User 1</option>
					<option>User 2</option>
				</select>
			</div>
		</div>
		<div class="content-pad">
			<div>
				<a href="tel:07539673087" class="button">Call Guy M.</a>
				<div>
					<p>Deliveroo BNC</p>
					<p><a href="tel:07539670387">07539673087</a></p>
				</div>
				<h2>Previous calls:</h2>
				<ul>
					<li>07/10/2018 1553: No answer (Left voicemail)</li>
					<li>07/10/2018 1810: No answer (Sent text)</li>
				</ul>
				<a href="#" class="button">Next</a>
			</div>
		</div>
	</body>
</html>